<% include ./partials/header %>

<h1>This is Index page</h1>
<br>
<p>
    Wekcome! YOu can see what hastags are tranding around the globe.
</p>
<p>
    Please proceed to <a href="/trendtwit">Tweets Pages</a>
</p>

<% include ./partials/footer %>