<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Trend Twit || Live View</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
      <div class="container">
        <a class="navbar-brand" href="/">Trending Twit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="map"></div>
    <script>

      function initMap() {
        
        //locations
        var myLatLng = [
          {
            point:{lat: 28.674, lng: 77.201},
            woeid:23424848
          },
          {
            point:{lat: 40.729, lng: -73.663},
            woeid:2459115
          },
          {
            point:{lat: 36.908, lng: 99.348},
            woeid:23424781
          },
          {
            point:{lat: 35.406, lng: 138.620},
            woeid:23424856
          },
          {
            point:{lat: 50.172, lng: 8.887},
            woeid:23424829
          },
          {
            point:{lat: 52.799, lng: -2.538},
            woeid:23424975
          },
          {
            point:{lat: 48.727, lng: 1.943},
            woeid:23424819
          },
          {
            point:{lat: -10.013, lng: -56.634},
            woeid:23424768
          },{
            point:{lat: 42.112, lng: 13.316},
            woeid:23424853
          },
          {
            point:{lat: 59.049, lng: -112.771},
            woeid:23424775
          },
          {
            point:{lat: 61.043, lng: 93.273},
            woeid:23424936
          },
          {
            point:{lat: 35.276, lng: 127.009},
            woeid:23424868
          },
          {
            point:{lat: -27.152, lng: 134.329},
            woeid:23424748
          },
          {
            point:{lat: 39.970, lng: -1.699},
            woeid:23424950
          },
          {
            point:{lat: -3.926, lng: 122.040},
            woeid:23424846
          },
          {
            point:{lat: 22.160, lng: -102.406},
            woeid:23424900
          },
          {
            point:{lat: 38.412, lng: 35.813},
            woeid:23424969
          },
          {
            point:{lat: 21.594, lng: 46.369},
            woeid:23424938
          },
          {
            point:{lat: 46.648, lng: 7.892},
            woeid:23424957
          },
          {
            point:{lat: 25.469, lng: 29.298},
            woeid:23424802
          }
        ];
        
  
        //setting up the maps
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: 45.603, lng: 6.411}
        });
        
        //passing the variables to js
        var hashtag = <%- JSON.stringify(hashtags) %>;
        var location = <%- JSON.stringify(locations) %>;
        var place = [];
        
        
        //shorting the locations
        function findplace(){
          for(var i=0; i<myLatLng.length; i++){
              for(var j=0; j<location.length; j++){
                if(myLatLng[i].woeid==location[j]){
                  console.log(location[j]);
                  place.push(hashtag[j]);
                  break;
                }
              }
            }
        }
        
        findplace();
        
        //Placing the markers
        for(var i=0; i<=myLatLng.length; i++){
          var marker = new google.maps.Marker({
              position: myLatLng[i].point,
              map: map,
              title: place[i]
            });
        }
        
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC17UvKxlS670uXf3ORNkM4LEpToIg4k14&callback=initMap">
    </script>
  </body>
</html>